#board {
    height: 270px;
    width: 270px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}

#board div {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 90px;
    width: 90px;
}

#a {
    border-width: 0px 1px 1px 0px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#b {
    border-width: 0px 1px 1px 1px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#c {
    border-width: 0px 0px 1px 1px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#d {
    border-width: 1px 1px 1px 0px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#e {
    border-width: 1px 1px 1px 1px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#f {
    border-width: 1px 0px 1px 1px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#g {
    border-width: 1px 1px 0px 0px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#h {
    border-width: 1px 1px 0px 1px;
    border-color:cornflowerblue;
    border-style: solid;
    
}

#i {
    border-width: 1px 0px 0px 1px;
    border-color:cornflowerblue;
    border-style: solid;
    
}