.parent_board_box {
    margin-top: 150px;
}

#board {
    height: 270px;
    width: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

button {
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

#board div {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 90px;
    width: 90px;
}

#a {
    border-width: 0px 2px 2px 0px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#b {
    border-width: 0px 2px 2px 2px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#c {
    border-width: 0px 0px 2px 2px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#d {
    border-width: 2px 2px 2px 0px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#e {
    border-width: 2px 2px 2px 2px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#f {
    border-width: 2px 0px 2px 2px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#g {
    border-width: 2px 2px 0px 0px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#h {
    border-width: 2px 2px 0px 2px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}

#i {
    border-width: 2px 0px 0px 2px;
    border-color: rgb(81, 104, 104);
    border-style: solid;

}